div .contact_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      79deg,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 90%,
      rgba(51, 51, 51, 1) 90%
    );
    height: 700px;
}
.cnt_text{
    color: white;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    font-family: "Raleway", sans-serif;
}
.headcont{
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
	animation: revolveScale 3.4s forwards;
}
@keyframes revolveScale {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}
.headcont:hover{
  color: #f00f80;
 
}


.ct_para{
    font-size: 19px;
}

.cntnimg{
    border-radius: 50%;
    animation: zoom-in-zoom-out 7s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .social_cnt{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #1d1d1d;
      padding: 10px 10px 10px 10px;
  }
  .cntmedia{
      cursor: pointer;
      margin-top: 10px;
      padding: 5px;
  }
  .cntmedia:hover{
    
      transform: rotate(360deg);
      transition: 3s;
  
  }
  .quick{
      text-align: center;
      font-size: 26px;
      opacity: 0;
      transform: translate(-150px, 0) scale(.3);
      animation: leftRight 3.5s forwards;
      animation-delay: 2s;
  }
  @keyframes leftRight {
    40% {
      transform: translate(50px, 0) scale(.7);
      opacity: 1;
      color: #f00f80;
    }
  
    60% {
      color: #0f40ba;
    }
  
    80% {
      transform: translate(0) scale(2);
      opacity: 0;
    }
  
    100% {
      transform: translate(0) scale(1);
      opacity: 1;
    }
  }
  
  @media (max-width: 870px) {
    div .contact_main{
      height: 860px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
   .cnt_text{
     text-align: center;
   }

  }

  @media (max-width: 400px) {

div .contact_main{
height: 700px;
}

.cnt_text{
  font-size: 22px;
}
.quick{
  font-size: 22px;
}
  }
  
  @media (max-width: 294px) {
    .cnt_text{
      font-size: 18px;
    }
    .quick{
      font-size: 18px;
    }


  }

  @media (max-width: 257px) {

   div .contact_main{
      height: 500px;
    }
    .cnt_text{
      font-size: 16px;
    }
    .quick{
      font-size: 16px;
    }
  }
  @media (max-width: 224px) {
    .cnt_text{
      font-size: 13px;
    }
    .quick{
      font-size: 13px;
    }
  }